<h1>Editing reflection</h1>

<%= render "form", reflection: @reflection %>

<br>

<div>
  <%= link_to "Show this reflection", @reflection %> |
  <%= link_to "Back to reflections", reflections_path %>
</div>
